html {
    box-sizing:border-box;

}

*, *:before *:after{

    box-sizing:inherit;
}

img{
    max-width: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:  #F8F8F8;
    font-family: "Rokkitt", serif;
    font-size: 18px;
    color: #333;

    
}


main{
    width:80vw;
    margin:50px auto;
    padding: 20px;
   
}

.hgroup{
    position: relative;
    width: 100%;
    height: 50vh;
    background-image: url("../img/greatfallsummer.jpg");
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    


}



header.primary h1 a {
    color: white;
    font-size: 2em;
    
    text-decoration: none;
    
    
    
}


header.primary{
    position: relative;
    justify-content: center;
    align-items: center;
}



header.primary nav{
    
    display: flex;
    justify-content: center;
    background-color: rgba(219, 133, 133, 0.5); 
    padding: 1px 0;
    
    

}

header.primary nav ul{
    flex-direction: column;
    gap:10px;
    
}





header.primary nav ul li a{
    color:white; 
    display: block;
    padding:10px 10px 10px 10px;
    text-align: center;
    transition:.5s;
    font-size: .9;
    text-decoration: none;
    

}

header.primary nav ul li{
    position: relative;
    display: inline-block;
    font-size: 1.1rem;
    text-align: center;
}



header.primary nav ul li ul {
    display: none;
    position: absolute;
    background: #FFC0B7;
    list-style: none;
    top: 100%;
    left: 0;
    width: 150px;
    padding: 0;
}

header.primary nav ul li ul a{
    color:white; 
    display: block;
    padding:10px 10px 10px 10px;
    text-align: center;
    transition:.5s;
    font-size: .9;
    text-decoration: none;

}


header.primary nav ul li:hover > ul {
    display: block;
}

header.primary nav ul li a:hover{
    background-color: #FF9A8F;
    text-decoration:underline;
    
}

  
.welcome h1{
    text-align: center;
    margin:0 auto;
    color: #393651;
   display: block;
    font-size: 35px;
    width:100%;
    padding-bottom: 20px;
    

}


.welcome p{
    flex: 1;
    font-size: 20px;
    
   
    

}
.welcome {
    display:flex;
    align-items: center;
    gap: 20px; 
    padding: 20px;
    flex-wrap: wrap;
}
.welcome img{
    height: 180px;
    width: 300px;
    object-fit: cover; 
    border-radius: 8px; 
    flex-shrink: 0;
    
}



#history h2, #history h4, #history h3{
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom:10px;
    

}

#history p{
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom:10px;

}

#history ul{
    padding-bottom: 20px;
}


#history ul li{
    display: flex;
    justify-content: flex-start;
    padding: 5px;
    text-indent: 25px;
    
}

#history img{
    height: 140px;
    width: 200px;
    object-fit: cover; 
    border-radius: 8px; 
    flex-shrink: 0;
    float: right;
    
}



  
#visit h3, #whyvisit h3 {
    flex: 0 0 100%;
    margin: 0;
    text-align: center;
    text-decoration: none;
    font-size: 28px;
    color: #393651;
}

#visit , #whyvisit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    border-bottom: 2.5px dotted #c0c0c0;
    padding: 2rem 0;
    border-top: 1px dotted #c0c0c0;
    flex-wrap: wrap;
    text-align: center;
}

#visit header {
    padding-top: 10px;
    font-size: .6rem;
}

#visit .post {
    box-shadow: 0 4px 8px #ffffff;
    padding: 10px;
    border-radius: 4px;
    font-size: .8rem;
    transition: .5s;
    flex: 1 1 300px; 
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
}

#visit figure {
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

#visit img  {
    height: 135px;
    width: 225px;
    margin: 0;
    object-fit: cover; 
}

#visit article h4 {
    font-size: 15px;
    padding-top: 10px;
    margin: 0;
}

#visit article p {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    font-size: 13px;
}

#visit .post:hover {
    box-shadow: 0 8px 16px #8C6C79;
}

#history h2 a, #visit h3 a {
    text-decoration: none; 
    color: inherit; 
}

#visit ul li{
    padding: 5px;
    text-align: left;
    line-height: 35px;
}
  

#colophon{
    background-color: #FFC0B7;
    text-align:center;
    padding:20px;
    color:#ffffff;
    font-size: 1.2rem; 
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  #colophon h5{
    font: 1em sans-serif;
    margin-bottom: 10px;
    font-weight: bold;

  }  

  #colophon p{
    max-width: 600px;
    justify-content: center;
    gap: 20px;
    line-height: 1.5;
  }



  .social-media a img {
    width: 40px;  
    height: 40px; 
    transition: transform 0.3s ease; 
  }
  
  .social-media a img:hover {
    transform: scale(1.1); 
  }

  #colophon h6{
    font-size: 1rem;
    margin-top: 20px;
  }

  .fade{
    margin:20px auto;
    width:45vw;
    /* Set Max Content Width */
    max-width:700px;
}


.slick-autoplay-toggle-button,
.slick-prev .slick-prev-icon, .slick-next .slick-next-icon,
.slick-dots li button .slick-dot-icon,
.slick-dots li.slick-active button .slick-dot-icon {
  color: white;
}

/* Customize Previous/Next/Dots/Autoplay - Active State */

.slick-next:focus .slick-next-icon,
.slick-next:focus .slick-prev-icon,
.slick-prev:focus .slick-next-icon,
.slick-prev:focus .slick-prev-icon,
.slick-dots li button:focus .slick-dot-icon:before,
.slick-dots li.slick-active button:focus .slick-dot-icon,
.slick-autoplay-toggle-button:focus 
{
    color:black;
}

#whyvisit img {
    height: 275px;
    width: 450px;
    margin: 0;
    object-fit: cover; 
}