html {
    box-sizing:border-box;

}

*, *:before *:after{

    box-sizing:inherit;
}

img{
    max-width: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: "Rokkitt", serif;

    
}

.hgroup{
    position: relative;
    width: 100%;
    height: 50vh;
    background-image: url("../img/great-falls.jpg");
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    


}


header.primary h1 a {
    color: white;
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-decoration: none;
}


header.primary{
    position: relative;
    justify-content: space-between;
}

header.primary nav{
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 1px 0;
    
    

}

header.primary nav ul{
    width: 100%;
    display: flex;
    justify-content: center;
    gap:20px;
}

header.primary nav ul, nav ul{
    list-style-type: none;
    margin:10px;
    padding:0;
    display: flex;
    gap:15px;
    
}


header.primary nav ul li a{
    color:white; 
    display: block;
    padding:10px 10px 10px 10px;
    text-align: center;
    transition:.5s;
    font-size: .9;
    text-decoration: none;

}

header.primary nav ul li{
    position: relative;
    display: inline-block;
}

header.primary nav ul li ul {
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    list-style: none;
    top: 100%;
    left: 0;
    width: 150px;
    padding: 0;
    z-index: 1000;
}

header.primary nav ul li ul a{
    color:white; 
    display: block;
    padding:10px 10px 10px 10px;
    text-align: center;
    transition:.5s;
    font-size: .9;
    text-decoration: none;

}

header.primary nav ul li:hover > ul {
    display: block;
}

header.primary nav ul li a:hover{
    background-color: rgba(0,0,0, .9);
    text-decoration:underline;
    
}

  
.container h1{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
.container h2{
    margin-top: 25px;
    margin-bottom: 25px;
}